<main>

  <div class="container px-4 py-5">
    <div *ngIf="titleSeccionCliente">
      <h2 class="pb-2 border-bottom text-center title-color">{{titleSeccionCliente}} </h2>
      
    </div>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <div *ngIf="titleDesCorta">
          <h2 class="fw-bold text-body-emphasis">{{titleDesCorta}} </h2>
        </div>
        <div *ngIf="descripcionClientes">
          <p class="text-body-secondary">{{descripcionClientes}}</p>
        </div>
        <!-- <a href="#" class="btn btn-primary btn-lg">Primary button</a> -->
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center  bg-gradient fs-4 rounded-3">
              <img src="../../../assets/logolamas.jpg" alt="" class="logo-cliente">
            </div>
            <!-- <h4 class="fw-semibold mb-0 text-body-emphasis">Lamas</h4>
              <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p> -->
          </div>

          <div class="col d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center  bg-gradient fs-4 rounded-3">
              <img src="../../../assets/logocontguacara.jpg" alt="" class="logo-cliente">
            </div>
            <!-- <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
              <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p> -->
          </div>

          <div class="col d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center  bg-gradient fs-4 rounded-3">
              <img src="../../../assets/logosucre.png" alt="" class="logo-cliente">
            </div>
            <!-- <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
              <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p> -->
          </div>

          <div class="col d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center  bg-gradient fs-4 rounded-3">
              <img src="../../../assets/logoturmero.jpg" alt="" class="logo-cliente">
            </div>
            <!-- <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
              <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>