<app-navbar></app-navbar>

<div class="position-relative overflow-hidden p-3 p-md-5  text-center bg-body-tertiary mt-5">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-5 fw-bold">Nuestros sistemas
        </h1>
        <span class="fw-normal text-muted mb-3">Contamos con Sistemas para instituciones de la Administración Pública desarrollado bajo plataformas de software libre. Cumpliendo con las normas establecidas por las leyes, ordenanzas y reglamentos. Adaptables y configúrales
        </span>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">

        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<app-sistemas></app-sistemas>


<hr class="featurette-divider">

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <div *ngIf="tituloSadmip">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
              {{tituloSadmip}}
            </h1>

          </div>
          <div *ngIf="descSadmip">
            <p class="col-lg-10 fs-4">{{descSadmip}} </p>
          </div>
        </div>

        <div class="col-md-10 mx-auto col-lg-5 text-center">
            <img src="../../../../assets/sadmip.png" alt="">
        </div>
    </div>
</div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Leer más acerca de SADMIP
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                El Sistema de Administración de Personal, en los sucesivos SADMIP persigue la eficacia en el manejo de los principales procesos asociados al área de Recursos Humanos, referente al registro de trabajadores, procesamiento de pagos de nómina y prestaciones sociales, adecuado a la legalización vigente establecida en los diferentes reglamentos de ley donde se implanta. SADMIP está construido bajo el lenguaje PHP con manejado de base de datos MYSQL y soporte de páginas Web apache, por lo que es accesible desde cualquier navegador, tales como: Google Chrome, Firefox, Opera, etc. Su diseño está enfocado en las reglas de usabilidad de software, brindando facilidad en el uso y operación del sistema con una Interfaz intuitiva para el alcance de los objetivos de forma efectiva. 

            </div>
           
          </div>
        </div>
       
      
      </div>
</div>

<app-footer></app-footer>