<app-navbar></app-navbar>

<div class="position-relative overflow-hidden p-3 p-md-5  text-center bg-body-tertiary mt-5">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-5 fw-bold">Nuestros Servicios
        </h1>
        <span class="fw-normal text-muted mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
            repellat eveniet ab minima neque est ipsa sit. Officiis ex blanditiis officia tempore velit molestias sit
            molestiae quidem? Saepe, excepturi assumenda.
        </span>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">

        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="album py-5">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm card-body-size">
                    <img src="../../../../assets/software-development-4165307_1920.jpg" alt="" height="255">
                    <span class="featurette-heading fw-bold lh-1 mt-4 ms-3 text-center">Asesoramiento</span>
                    <div class="card-body">
                        <p class="card-text">Se realizan análisis y evaluación de los sistemas informáticos de los
                            clientes, así como también de su infraestructura de hardware y red, para plantear soluciones
                            efectivas y eficientes que permitan aprovechar sus recursos informáticos.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm card-body-size">
                    <img src="../../../../assets/whiteboard-849810_1920.jpeg" alt="" height="255">

                    <span class="featurette-heading fw-bold lh-1 mt-4 ms-3 text-center">Desarrollo de Software</span>

                    <div class="card-body">
                        <p class="card-text">Desarrolamos sistemas de información personalizados, adaptados a las
                            necesidades de nuestros clientes, utilizando tecnologías de punta que garantizan la
                            estabilidad de sus sistemas.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm card-body-size">
                    <img src="../../../../assets/web-design-internet-website-responsive-software-concept.jpg" alt=""
                        height="255">

                    <span class="featurette-heading fw-bold lh-1 mt-4 ms-3 text-center">Desarrollo Web</span>
                    <div class="card-body">
                        <p class="card-text">Desarrollo de páginas Web utilizando las últimas tecnologías del mercado,
                            responsivas adaptables a cualquier dispositivo utilizando con maquetado, y ofreciendo a bajo
                            costo servicio de hosting y mantenimiento.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm card-body-size">
                    <img src="../../../../assets/server-1235959_1920.jpeg" alt="" height="255">

                    <span class="featurette-heading fw-bold lh-1 mt-4 ms-3 text-center">Servidores</span>
                    <div class="card-body">
                        <p class="card-text">Venta y Configuración de Servidores. Instalación de sistemas Operativos.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card shadow-sm card-body-size">
                    <img src="../../../../assets/beautiful-optical-fiber-detail.jpg" alt="" height="255">

                    <span class="featurette-heading fw-bold lh-1 mt-4 ms-3 text-center">Redes</span>

                    <div class="card-body">
                        <p class="card-text">Diseño de estructuras de red, instalación y mantenimiento.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm card-body-size">
                    <img src="../../../../assets/technician-repairing-computer-computer-hardware-repairing-upgrade-technology.jpg"
                        alt="" height="255">

                    <span class="featurette-heading fw-bold lh-1 mt-4 ms-3 text-center">Mantenimiento</span>

                    <div class="card-body">
                        <p class="card-text">Mantenimiento preventivo y Correctivo de Equipos de Computación.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<app-footer></app-footer>