<!-- As a link -->
<nav class="navbar navbar-light bg-color navbar-expand-xxl nav fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/logo.png" class="logo-nav" alt="">
        </a>

        <button class="navbar-toggler btn-responsive" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav fw-bold">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#corposervis">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sistemas">Sistemas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/servicios">Servicios</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>