<main>

  <hr class="featurette-divider">

  <div class="container marketing" id="servicios">


    <!-- START THE FEATURETTES -->


    <div class="row featurette">
      <h2 class="pb-2 text-center mb-5 title-color" id="sevicios">Nuestros Servicios</h2>

      <div class="col-md-7">
        <h2 class="featurette-heading fw-bold lh-1">Desarrollo de software</h2>
        <p class="lead">Desarrollamos sistemas de información a la medida para nuestros clientes de acuerdo a sus
          necesidades o requerimientos, utilizando tecnologías de punta que permitan a nuestros clientes tener una
          garantía de estabilidad en sus sistemas. </p>
      </div>
      <div class="col-md-4">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg> -->
        <img height="400" width="400" src="../../../assets/whiteboard-849810_1920.jpeg" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-bold lh-1">Desarrollo Web</h2>
        <p class="lead">Desarrollo de páginas web bajo utilizando las últimas tecnologías del mercado, tomando en cuenta
          el enfoque Mobile First, el cual prioriza la experiencia en dispositivos móviles, y ofreciendo a bajo costo
          servicio de hosting y mantenimiento.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img height="400" width="400" src="../../../assets/web-design-internet-website-responsive-software-concept.jpg"
          alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-bold lh-1">Servidores</h2>
        <p class="lead">Venta y Configuración de Servidores. Instalación de sistemas Operativos.
        </p>
      </div>
      <div class="col-md-4">
        <img height="400" width="400" src="../../../assets/server-1235959_1920.jpeg" alt="">

      </div>
    </div>


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


</main>