<main>

  <hr class="featurette-divider">

  <div class="container marketing" id="servicios">


    <!-- START THE FEATURETTES -->


    <div class="row featurette">
      <div *ngIf="tituloServicio">
        <h2 class="pb-2 text-center mb-5 title-color" id="sevicios">{{tituloServicio}}</h2>
      </div>

      <div class="col-md-7">
        <div *ngIf="tituloServicioUno">
          <h2 class="featurette-heading fw-bold lh-1">{{tituloServicioUno}} </h2>
        </div>

        <div *ngIf="descripcionPrimerServicio ">
          <p class="lead">{{descripcionPrimerServicio}} </p>
        </div>
      </div>
      <div class="col-md-4">
        <img height="400" width="400" src="../../../assets/whiteboard-849810_1920.jpeg" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
      <div *ngIf="tituloServicioDos">
        <h2 class="featurette-heading fw-bold lh-1">{{tituloServicioDos}}</h2>
      </div>
      <div *ngIf="descripcionSegundoServicio ">
        <p class="lead">{{descripcionSegundoServicio}} </p>
      </div>
      </div>
      <div class="col-md-5 order-md-1">
        <img height="400" width="400" src="../../../assets/web-design-internet-website-responsive-software-concept.jpg"
          alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <div *ngIf="tituloServicioTres">
          <h2 class="featurette-heading fw-bold lh-1">{{tituloServicioTres}}</h2>
        </div>
        <div *ngIf="descripcionTercerServicio ">
          <p class="lead">{{descripcionTercerServicio}} </p>
        </div>
      </div>
      <div class="col-md-4">
        <img height="400" width="400" src="../../../assets/server-1235959_1920.jpeg" alt="">

      </div>
    </div>


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


</main>