<!-- <div class="banner-seperacion" id="sistemas"></div> -->


<main>

    <h2 class="pb-2 text-center mb-5 title-color title mt-5"> Nuestros Sistemas</h2>
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row mb-5">
            <div class="col-lg-4">
                <a href="/sadmim"> <img src="../../../assets/sadmim.png" width="140" height="140"
                        class="bd-placeholder-img rounded-circle" alt=""></a>
                <h2 class="fw-bold mt-3 ">SADMIM</h2>
                <p>Sistema de Adminitación Municipal</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 ">
                <a href="/sadmip">
                    <img src="../../../assets/sadmip.png" width="140" height="140"
                        class="bd-placeholder-img rounded-circle" alt="">
                </a>
                <h2 class="fw-bold mt-3">SADMIP</h2>
                <p>Sistema de Adminitación Personal</p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4 ">
                <a href="/sadmit"><img src="../../../assets/sadmit.png" width="140" height="140"
                        class="bd-placeholder-img rounded-circle" alt=""></a>
                <h2 class="fw-bold mt-3">SADMIT</h2>
                <p class="">Sistema de Adminitación Tribunal Municipal</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    </div>


</main>