.centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: #ffff;
}

.background-banner {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/startup-849805_1920.jpeg");
    width: 100wh;
    height: 100vh;

}

@media (max-width: 600px) {
    .background-banner {
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/startup-849805_1920.jpeg");
        width: 100%;
        height: 100vh;
        background-size: cover;
    }



}

