<app-navbar></app-navbar>

<div class="position-relative overflow-hidden p-3 p-md-5  text-center bg-body-tertiary mt-5">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-5 fw-bold">Nuestros sistemas
        </h1>
        <span class="fw-normal text-muted mb-3">Contamos con Sistemas para instituciones de la Administración Pública
            desarrollado bajo plataformas de software libre. Cumpliendo con las normas establecidas por las leyes,
            ordenanzas y reglamentos. Adaptables y configúrales
        </span>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">

        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<app-sistemas></app-sistemas>


<hr class="featurette-divider">


<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <div *ngIf="tituloSadmit">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
                  {{tituloSadmit}}
                </h1>
    
              </div>
              <div *ngIf="descSadmit">
                <p class="col-lg-10 fs-4">{{descSadmit}} </p>
              </div>
        </div>

        <div class="col-md-10 mx-auto col-lg-5 text-center">
            <img src="../../../../assets/sadmit.png" alt="">
        </div>
    </div>
</div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Leer más acerca de SADMIT
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <strong>Integración Tributaria</strong>: constituye uno de los principales beneficios que otorgara el Sistema SADMIT,
                    la información generada por cualquiera de los módulos tributarios estará disponible en el módulo de
                    liquidación a través de la cédula o Rif del contribuyente, esto permitirá consolidar los procesos de
                    recaudación y cobranzas. Es importante destacar que se creará el Registro Único Tributario (RUT), el
                    cual permitirá consolidar la gestión de cobranza a través de un estado de cuenta único que
                    consolidara las obligaciones tributarias pendientes de pago. Cada ramo tributario contará con su
                    número de cuenta o expediente y se clasificará por unidad tributaria (Hacienda, Planeamiento Urbano,
                    Catastro, etc), lo cual permitirá a cada área específica ver solo los ramos tributarios y tasas que
                    le corresponden gestionar. En el caso del área de cobranzas podrán visualizar de manera general
                    todas las obligaciones tributarias pendientes por cobrar.
                    Si el servicio se contrata con la integración administrativa. La institución contará con los
                    sistemas de: Formulación, Compras y Suministros, Ejecución Presupuestaria, Tesorería y Bancos,
                    Bienes Muebles e Inmuebles y Nómina. Es importante destacar que todos estos sistemas han sido
                    desarrollados bajo plataforma de software libre y dependiendo de la modalidad del contrato pasaran a
                    formar parte de los activos de la institución, al cumplir un tiempo determinado de contratación,
                    cumpliendo con lo establecido en la Ley de info gobierno.
                </div>

            </div>
        </div>


    </div>
</div>

<app-footer></app-footer>